

.skalebot-table .p-checkbox .p-checkbox-box{
    /* background: #FFFFFF !important; */
    border: 0.5px solid rgba(0, 0, 0, 0.25) !important;
    border-radius: 2px !important;
}

.skalebot-table .p-checkbox .p-checkbox-box.p-highlight{
    background:#FFFFFF !important;
}

.skalebot-table .p-checkbox .p-checkbox-box .p-checkbox-icon{
    color: #1C738E !important;
}
.skalebot-table .p-datatable-tbody > tr.p-highlight{

    background: rgba(28, 115, 142, 0.05) !important;
    color: #000 !important;

}
.skalebot-table.p-datatable.p-datatable-selectable .p-datatable-tbody > tr.p-selectable-row:not(.p-highlight):not(.p-datatable-emptymessage):hover {
    background: rgba(28, 115, 142, 0.05) !important;
    color: #000 !important;
}
.p-column-filter-buttonbar > .p-button{
    background-color: #EDEDED !important;
    color: #000 !important;
    border-color: #1C738E !important;
}
.p-column-filter-buttonbar > .p-button:hover{
    background-color: #d0d3d2 !important;
    color: #000 !important;
    border-color: #1C738E !important;
}

.pi-filter-icon{
    margin-top: 5px !important;
}

.p-datatable-header{
    padding: 0.5rem 0rem !important;
}

.__searchField input{
    height: 42px;
    width: 250px;
}
.dateInput{
    height: 40px !important;
}
.p-datepicker-trigger{
    background: #ededed!important;
    color: black !important;
    border: #7e7c7c !important;
}

.__activeFilter{
    background-color: #1c738e !important; 
    border-radius: 50px;
}
.__numberBtn input{
    width:50px !important; 
    height: 40px;
}
.__saveBtn button{
    width:60px !important; 
    height: 40px;
    padding: 0px !important;
    margin-left: 5px !important;
}
.__inputNumberBody{
    width: 100px !important;
}

.skalebot-table.p-datatable .p-datatable-tbody > tr{
    border-width: 0.5px !important;
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.25) !important;
    font-family: "Lato" !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 0.8rem !important;
    line-height: 1.1rem !important;
}

.skalebot-table.p-datatable .p-datatable-tbody > tr > td{
  border: none;
  padding:1rem 0.5rem;
}
.skalebot-table.p-datatable .p-datatable-thead > tr {
  background: #ededed ;
  border-radius: 5px 5px 0px 0px ;
  overflow: hidden;
}
.skalebot-table.p-datatable .p-datatable-thead > tr > th {
  background: inherit ;
  color: #000000 ;
  font-size: 0.9rem ;
  font-weight: 600 ;
  border: none;
  padding: 1rem 0.5rem;


}
.skalebot-table2.p-datatable .p-datatable-thead > tr > th {
  color: #000000 !important;
}

.skalebot-table2 .p-checkbox .p-checkbox-box{
  /* background: #FFFFFF !important; */
  border: 0.5px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 2px !important;
}

.skalebot-table2 .p-checkbox .p-checkbox-box.p-highlight{
  background:#FFFFFF !important;
}

.skalebot-table2 .p-checkbox .p-checkbox-box .p-checkbox-icon{
  color: #1C738E !important;
}
.skalebot-table2.p-datatable.p-datatable-selectable .p-datatable-tbody > tr.p-selectable-row:not(.p-highlight):not(.p-datatable-emptymessage):hover {
  background: rgba(28, 115, 142, 0.05) !important;
  color: #000 !important;
}
.skalebot-table2 .p-datatable-tbody > tr.p-highlight{

  background: rgba(28, 115, 142, 0.05) !important;
  color: #000 !important;

}

.grp-search{
  width:25vw;
}


.sklbtsr .p-column-header-content{
  display: flex;
  justify-content: center;
}

.skalebot-table.skalebot-table.p-datatable .p-column-filter-menu{
  margin-left: 0 !important;
}

.p-datatable.p-datatable-selectable .p-datatable-tbody > tr.p-selectable-row:focus {
outline: none !important;
}

.skalebot-table.p-datatable .p-checkbox-box.p-focus{
  box-shadow: none !important;
}

.p-datatable .p-datatable-tbody > tr.not-selectable{
  background: #f8f7f7;
  user-select: none;
}

.p-datatable .p-datatable-tbody > tr.not-selectable .p-checkbox .p-checkbox-box {
  background: inherit !important;
  cursor: default;
}
@media only screen and (width < 768px) {
  .grp-search{
    width: 100%;  
  }
}


.__customTable .p-datatable-wrapper{
   border: 1px solid rgba(158, 156, 156, 0.348);
}
@media only screen and (width < 768px) {
    .__searchField span{
        height: 42px;
        width: 100%;
    }
    .__searchField input{
        height: 42px;
        width: 100%;
    }
    
}