.panel-border {
    border-style: none none dotted none !important;
    border-width: 0.5px;
}


.customButton-pd {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
  }
  
  .font-pd {
    font-size: 1.5rem !important;
  }